<% content_for :page_title do %>
  <%= t('spree.lookbook.title.new') %>
<% end %>

<%= render :partial => 'spree/admin/shared/lookbook_tabs', :locals => { :current => 'Lookbooks' } %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t('spree.lookbook.link.back'), [:admin, @lookbook_collection, @lookbook], :icon => 'icon-arrow-left', :id => 'back_to_lookbooks_link' %>
  </li>
<% end %>

<div data-hook="admin_lookbook_new_form">
  <div id="active-sale-form-wrapper">
    <%= render :partial => 'form' %>
  </div>
</div>
