<% content_for :page_title do %>
  <%= @lookbook.name %> &#62; <%= t('spree.look.title.new') %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t('spree.look.link.back'), [:admin, @lookbook, @look], :icon => 'icon-arrow-left', :id => 'admin_new_look_link' %>
  </li>
<% end %>

<div data-hook="admin_look_edit_form">
  <div id="look-form-wrapper">
    <%= render :partial => 'form' %>
  </div>
</div>
